<div class="container-fluid">
  <div class="row vh-100">
    <!-- Sidebar -->
    <div class="col-3 bg-light border-end p-3">
      <!-- <app-sidebar></app-sidebar> -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rents">Rents</a>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="col-9 p-3">
      <!-- <app-table-form></app-table-form> -->

      <router-outlet />
    </div>
  </div>
</div>
